.DS_Store*
.idea/*

preprocessed_data/*
!preprocessed_data/.dir.txt

logs/*
!logs/.dir.txt

features_cnn/*.npy

preprocessed_data_1dcnn/*
!preprocessed_data_1dcnn/.dir.txt

data/*
data/.dir.txt

notebooks/.ipynb_check*
notebooks/*.html

code/__py*